<footer class="mb-0 mt-5 p-5">
    <div class="row">
    <div class="col-12 col-md-8 text-center text-md-left">
    <div class="links">
    <a href="about">About</a> |
    <a href="privacy-policy">Privacy Policy</a> |
    <a href="dmca">DMCA</a> |
    <a href="terms-of-service">Terms of Service</a> |
    <a href="contact">Contact Us</a>
    </div>
    <div class="copyright">
    &copy;2019 FilmHD4u - Movies & TV Series.
    </div>
    <div class="tmdb">
    Millions of titles and counting! New Movies & TV shows added every day.
    </div>
    </div>
    
    </div>
    </footer>
    <script>
            (function() {
              var gvn = document.createElement('script');
              gvn.src = document.location.protocol + '//s0.2mdn.net/instream/video/client.js';
              gvn.async = true;
              gvn.type = 'text/javascript';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gvn, s);
            })();
          </script>
          <script src="https://www.crunchyroll.com/vendor/playerjs.js"></script>
          <script src="https://www.crunchyroll.com/versioned_assets/js/components/vilos_player.07ba0994.js"></script>