
<!doctype html>
<html lang="en">
  {{template "/components/head.html" .}}
<body>
    <amp-auto-ads type="adsense"
              data-ad-client="ca-pub-5577816484280839">
</amp-auto-ads>
<style type="text/css">
 .img-responsive,
 .thumbnail > img,
 .thumbnail a > img,
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
 display: block;
 width: 150px;
 max-height: 230px;
 min-height: 200px;
 height: auto;
 }
</style>
 <div class="modal fade" id="search-modal" tabindex="-1" role="dialog">
 <div class="modal-dialog" role="document">
 <div class="modal-content">
 <div class="modal-header">
 <span style="color: #FA4C29; font-size: 18px; font-weight: bold;"><i class="fa fa-search" style="font-size: 18px;"></i> Movies<span style="color: #C7C7C7"> & Shows</span>
 </div>
 <section>
 <div class="modal-body" style="width: 100%; display: inline-block;">
 <input type="text" name="moviename" class="form-control" placeholder="Movies & Shows Type here">
 <div class="p-md-2 pt-md-3 search-result">
 </div>
 </div>
 </section>
 </div>
 </div>
 </div>
 {{template "/components/header.html" .}}
 <!-- //nav -->

 <div class="swiper-container ">
    <div class="swiper-wrapper">
          
        <div class="swiper-slide d-lg-flex align-items-center p-lg-3" style="background-image:url(https://filmhd4u.com/aset/movie_img/The_Art_of_Racing_in_the_Rain_hd.jpg)">
                <div class="slider-caption-lg ml-2 p-4 d-none d-lg-flex">
                        <div class="flex-shrink-1">
                            <img class="in-slider-poster d-none d-xl-block" src="https://filmhd4u.com/aset/movie_img/The_Art_of_Racing_in_the_Rain.jpg" />
                        </div>
                    <div class="flex-grow-1 d-flex align-items-center ml-3">
                            <ul class="list-unstyled m-0">
                                <li> <h1>The Art of Racing in the Rain</h1></li>
                                <li class="small-text">
                                        <div class="row no-gutters">
                                            <div class="col-auto mr-2">
                                                   <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/The-Art-of-Racing-in-the-Rain">More info</a>
                                            </div>
                                            <div class="col-6"><i class="fas fa-tv-retro"></i> <i class="fas fa-calendar-week"></i>  2019<br>
                                                        <i class="fas fa-layer-group"></i> Comedy | Drama 
                                            </div>
                                        </div>
                                </li>
                                <li class="mt-2 small-text">
                                        <div style="max-width:640px">  
                                           <i class="fas fa-info-circle"></i> Overview:  <i>Dog lovers believe their canine family members understand language, comprehend events, have opinions, exude loyalty. In "The Art of Racing In The Rain", wise old dog Enzo Swift shares thoughts about the life experiences which prepared him to protect his family in times of greatest need.</i>
                                          

                                        </div>
                                </li>
                                <li class="mt-4 text-center watch-now-container">
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <a class="btn btn-lg btn-primary" href="https://filmhd4u.com/The-Art-of-Racing-in-the-Rain"><i class="far fa-play-circle"></i> Watch Now
												</a>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                     </div>
                </div>
                    <!-- Google Adsense   -->

    <!-- Google Adsense   -->
                 <div class="slider-caption-sm p-2 d-lg-none text-center">
                            <h4 class="d-none d-md-block">The Art of Racing in the Rain</h4>
                            <h5 class="d-md-none">The Art of Racing in the Rain</h5>
                        <div class="small-text">
                            <i class="fas fa-tv-retro"></i> <i class="fas fa-layer-group"></i> Comedy | Drama                        </div>
                        <div class="mt-1 watch-now-container">
                            <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/The-Art-of-Racing-in-the-Rain">Watch Now <i class="far fa-play-circle"></i></a>
                        </div>
                    </div>
        </div>
                        

	<div class="swiper-slide d-lg-flex align-items-center p-lg-3" style="background-image:url(https://filmhd4u.com/aset/movie_img/Bring_The_Soul_The_Movie_hd.jpg)">
                <div class="slider-caption-lg ml-2 p-4 d-none d-lg-flex">
                        <div class="flex-shrink-1">
                            <img class="in-slider-poster d-none d-xl-block" src="https://filmhd4u.com/aset/movie_img/Bring_The_Soul_The_Movie.jpg" />
                        </div>
                    <div class="flex-grow-1 d-flex align-items-center ml-3">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <h1>Bring The Soul: The Movie</h1>
                                </li>
                                <li class="small-text">
                                        <div class="row no-gutters">
                                            <div class="col-auto mr-2">
                                                   <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/Bring-The-Soul-The-Movie">More info</a>
                                            </div>
                                            <div class="col-6"><i class="fas fa-tv-retro"></i><i class="fas fa-calendar-week"></i> 2019<br>
                                                       <i class="fas fa-layer-group"></i> Documentary | Music  
                                            </div>
                                        </div>
                                </li>
                                <li class="mt-2 small-text">
                                        <div style="max-width:640px">   
                                           <i class="fas fa-info-circle"></i> Overview: <i>Following their landmark "Love Yourself" tour, BTS triumphantly returns to cinema screens. Shining brighter than any light on the stage, now the group invite us behind the spotlight. On the day following the final concert of their Europe tour, on a rooftop in Paris, BTS tells their very own stories from experiencing new cities to performing in front of thousands of ARMY across the globe. </i>
                                            
  </div>
                                </li>
                                <li class="mt-4 text-center watch-now-container">
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <a class="btn btn-lg btn-primary" href="https://filmhd4u.com/Bring-The-Soul-The-Movie"><i class="far fa-play-circle"></i> Watch Now
												<!--i class="fas fa-arrow-circle-right"></i--></a>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                     </div>
                </div>
                    <!-- Google Adsense   -->

    <!-- Google Adsense   -->
                 <div class="slider-caption-sm p-2 d-lg-none text-center">
                            <h4 class="d-none d-md-block">Bring The Soul: The Movie</h4>
                            <h5 class="d-md-none">Bring The Soul: The Movie</h5>
                        <div class="small-text">
                            <i class="fas fa-tv-retro"></i> <i class="fas fa-layer-group"></i> Documentary | Music                        </div>
                        <div class="mt-1 watch-now-container">
                            <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/Bring-The-Soul-The-Movie">Watch Now <i class="far fa-play-circle"></i></a>
                        </div>
                    </div>
        </div>
                      

	<div class="swiper-slide d-lg-flex align-items-center p-lg-3" style="background-image:url(https://filmhd4u.com/aset/movie_img/Scary_Stories_to_Tell_in_the_Dark_hd.jpg)">
                <div class="slider-caption-lg ml-2 p-4 d-none d-lg-flex">
                        <div class="flex-shrink-1">
                            <img class="in-slider-poster d-none d-xl-block" src="https://filmhd4u.com/aset/movie_img/Scary_Stories_to_Tell_in_the_Dark.jpg" />
                        </div>
                    <div class="flex-grow-1 d-flex align-items-center ml-3">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <h1>Scary Stories to Tell in the Dark</h1>
                                </li>
                                <li class="small-text">
                                        <div class="row no-gutters">
                                            <div class="col-auto mr-2">
                                                   <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/Scary-Stories-to-Tell-in-the-Dark">More info</a>
                                            </div>
                                            <div class="col-6"><i class="fas fa-tv-retro"></i><i class="fas fa-calendar-week"></i> 2019<br>
                                                       <i class="fas fa-layer-group"></i> Horror | Mystery | Thriller  
                                            </div>
                                        </div>
                                </li>
                                <li class="mt-2 small-text">
                                        <div style="max-width:640px">   
                                           <i class="fas fa-info-circle"></i> Overview: <i>It's 1968 in America. Change is blowing in the wind...but apparently far expelled from the agitation in the urban communities is the community of Mill Valley where for ages, the shadow of the Bellows family has posed a potential threat.</i>
                                            
  </div>
                                </li>
                                <li class="mt-4 text-center watch-now-container">
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <a class="btn btn-lg btn-primary" href="https://filmhd4u.com/Scary-Stories-to-Tell-in-the-Dark"><i class="far fa-play-circle"></i> Watch Now
												<!--i class="fas fa-arrow-circle-right"></i--></a>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                     </div>
                </div>
                    <!-- Google Adsense   -->

    <!-- Google Adsense   -->
                 <div class="slider-caption-sm p-2 d-lg-none text-center">
                            <h4 class="d-none d-md-block">Scary Stories to Tell in the Dark</h4>
                            <h5 class="d-md-none">Scary Stories to Tell in the Dark</h5>
                        <div class="small-text">
                            <i class="fas fa-tv-retro"></i> <i class="fas fa-layer-group"></i> Horror | Mystery | Thriller                        </div>
                        <div class="mt-1 watch-now-container">
                            <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/Scary-Stories-to-Tell-in-the-Dark">Watch Now <i class="far fa-play-circle"></i></a>
                        </div>
                    </div>
        </div>
                      

	<div class="swiper-slide d-lg-flex align-items-center p-lg-3" style="background-image:url(https://filmhd4u.com/aset/movie_img/lion1.jpg)">
                <div class="slider-caption-lg ml-2 p-4 d-none d-lg-flex">
                        <div class="flex-shrink-1">
                            <img class="in-slider-poster d-none d-xl-block" src="https://filmhd4u.com/aset/movie_img/lion.jpg" />
                        </div>
                    <div class="flex-grow-1 d-flex align-items-center ml-3">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <h1>The Lion King</h1>
                                </li>
                                <li class="small-text">
                                        <div class="row no-gutters">
                                            <div class="col-auto mr-2">
                                                   <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/The-Lion-King">More info</a>
                                            </div>
                                            <div class="col-6"><i class="fas fa-tv-retro"></i><i class="fas fa-calendar-week"></i> 2019<br>
                                                       <i class="fas fa-layer-group"></i> Animation, Adventure, Drama  
                                            </div>
                                        </div>
                                </li>
                                <li class="mt-2 small-text">
                                        <div style="max-width:640px">   
                                           <i class="fas fa-info-circle"></i> Overview: <i>Simba idolises his father, King Mufasa, and takes to heart his own royal destiny. But not everyone in the kingdom celebrates the new cub's arrival. Scar, Mufasa's brother—and former heir to the throne—has plans of his own. The battle for Pride Rock is ravaged with betrayal, tragedy and drama, ultimately resulting in Simba's exile. With help from a curious pair of newfound friends, Simba will have to figure out how to grow up and take back what is rightfully his.</i>
                                            
  </div>
                                </li>
                                <li class="mt-4 text-center watch-now-container">
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <a class="btn btn-lg btn-primary" href="https://filmhd4u.com/The-Lion-King"><i class="far fa-play-circle"></i> Watch Now
												<!--i class="fas fa-arrow-circle-right"></i--></a>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                     </div>
                </div>
                    <!-- Google Adsense   -->

    <!-- Google Adsense   -->
                 <div class="slider-caption-sm p-2 d-lg-none text-center">
                            <h4 class="d-none d-md-block">The Lion King</h4>
                            <h5 class="d-md-none">The Lion King</h5>
                        <div class="small-text">
                            <i class="fas fa-tv-retro"></i> <i class="fas fa-layer-group"></i> Animation, Adventure, Drama                        </div>
                        <div class="mt-1 watch-now-container">
                            <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/The-Lion-King">Watch Now <i class="far fa-play-circle"></i></a>
                        </div>
                    </div>
        </div>
                      

	<div class="swiper-slide d-lg-flex align-items-center p-lg-3" style="background-image:url(https://filmhd4u.com/aset/movie_img/Once_Upon_a_Time_in_Hollywood_hd.jpg)">
                <div class="slider-caption-lg ml-2 p-4 d-none d-lg-flex">
                        <div class="flex-shrink-1">
                            <img class="in-slider-poster d-none d-xl-block" src="https://filmhd4u.com/aset/movie_img/Once_Upon_a_Time_in_Hollywood.jpg" />
                        </div>
                    <div class="flex-grow-1 d-flex align-items-center ml-3">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <h1>Once Upon a Time in Hollywood</h1>
                                </li>
                                <li class="small-text">
                                        <div class="row no-gutters">
                                            <div class="col-auto mr-2">
                                                   <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/Once-Upon-a-Time-in-Hollywood-2019">More info</a>
                                            </div>
                                            <div class="col-6"><i class="fas fa-tv-retro"></i><i class="fas fa-calendar-week"></i> 2019<br>
                                                       <i class="fas fa-layer-group"></i> Comedy | Drama  
                                            </div>
                                        </div>
                                </li>
                                <li class="mt-2 small-text">
                                        <div style="max-width:640px">   
                                           <i class="fas fa-info-circle"></i> Overview: <i>Quentin Tarantino's Once Upon a Time... in Hollywood visits 1969 Los Angeles, where everything is changing, as TV star Rick Dalton (Leonardo DiCaprio) and his long-term trick twofold Cliff Booth (Brad Pitt) advance around an industry they scarcely perceive any longer.</i>
                                            
  </div>
                                </li>
                                <li class="mt-4 text-center watch-now-container">
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <a class="btn btn-lg btn-primary" href="https://filmhd4u.com/Once-Upon-a-Time-in-Hollywood-2019"><i class="far fa-play-circle"></i> Watch Now
												<!--i class="fas fa-arrow-circle-right"></i--></a>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                     </div>
                </div>
                    <!-- Google Adsense   -->

    <!-- Google Adsense   -->
                 <div class="slider-caption-sm p-2 d-lg-none text-center">
                            <h4 class="d-none d-md-block">Once Upon a Time in Hollywood</h4>
                            <h5 class="d-md-none">Once Upon a Time in Hollywood</h5>
                        <div class="small-text">
                            <i class="fas fa-tv-retro"></i> <i class="fas fa-layer-group"></i> Comedy | Drama                        </div>
                        <div class="mt-1 watch-now-container">
                            <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/Once-Upon-a-Time-in-Hollywood-2019">Watch Now <i class="far fa-play-circle"></i></a>
                        </div>
                    </div>
        </div>
                      

	<div class="swiper-slide d-lg-flex align-items-center p-lg-3" style="background-image:url(https://filmhd4u.com/aset/movie_img/SPIDER1.jpg)">
                <div class="slider-caption-lg ml-2 p-4 d-none d-lg-flex">
                        <div class="flex-shrink-1">
                            <img class="in-slider-poster d-none d-xl-block" src="https://filmhd4u.com/aset/movie_img/SPIDER.jpg" />
                        </div>
                    <div class="flex-grow-1 d-flex align-items-center ml-3">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <h1>Spider-Man: Far from Home</h1>
                                </li>
                                <li class="small-text">
                                        <div class="row no-gutters">
                                            <div class="col-auto mr-2">
                                                   <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/Spider-Man-Far-from-Home">More info</a>
                                            </div>
                                            <div class="col-6"><i class="fas fa-tv-retro"></i><i class="fas fa-calendar-week"></i> 2019<br>
                                                       <i class="fas fa-layer-group"></i> Action, Adventure, Comedy  
                                            </div>
                                        </div>
                                </li>
                                <li class="mt-2 small-text">
                                        <div style="max-width:640px">   
                                           <i class="fas fa-info-circle"></i> Overview: <i>Peter Parker and his friends go on a summer trip to Europe. However, they will hardly be able to rest - Peter will have to agree to help Nick Fury uncover the mystery of creatures that cause natural disasters and destruction throughout the continent.Following the events of Avengers: Endgame, Spider-Man must step up to take on new threats in a world that has changed forever.</i>
                                            
  </div>
                                </li>
                                <li class="mt-4 text-center watch-now-container">
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <a class="btn btn-lg btn-primary" href="https://filmhd4u.com/Spider-Man-Far-from-Home"><i class="far fa-play-circle"></i> Watch Now
												<!--i class="fas fa-arrow-circle-right"></i--></a>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                     </div>
                </div>
                    <!-- Google Adsense   -->

    <!-- Google Adsense   -->
                 <div class="slider-caption-sm p-2 d-lg-none text-center">
                            <h4 class="d-none d-md-block">Spider-Man: Far from Home</h4>
                            <h5 class="d-md-none">Spider-Man: Far from Home</h5>
                        <div class="small-text">
                            <i class="fas fa-tv-retro"></i> <i class="fas fa-layer-group"></i> Action, Adventure, Comedy                        </div>
                        <div class="mt-1 watch-now-container">
                            <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/Spider-Man-Far-from-Home">Watch Now <i class="far fa-play-circle"></i></a>
                        </div>
                    </div>
        </div>
                      

	<div class="swiper-slide d-lg-flex align-items-center p-lg-3" style="background-image:url(https://filmhd4u.com/aset/movie_img/Fast_Furious.jpg)">
                <div class="slider-caption-lg ml-2 p-4 d-none d-lg-flex">
                        <div class="flex-shrink-1">
                            <img class="in-slider-poster d-none d-xl-block" src="https://filmhd4u.com/aset/movie_img/FastFurious_PresentsHobbs_Shaw.jpg" />
                        </div>
                    <div class="flex-grow-1 d-flex align-items-center ml-3">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <h1>Fast & Furious Presents: Hobbs & Shaw</h1>
                                </li>
                                <li class="small-text">
                                        <div class="row no-gutters">
                                            <div class="col-auto mr-2">
                                                   <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/fastfurioushobbsandshaw-full-movie">More info</a>
                                            </div>
                                            <div class="col-6"><i class="fas fa-tv-retro"></i><i class="fas fa-calendar-week"></i> 2019<br>
                                                       <i class="fas fa-layer-group"></i> Action, Adventure, Comedy  
                                            </div>
                                        </div>
                                </li>
                                <li class="mt-2 small-text">
                                        <div style="max-width:640px">   
                                           <i class="fas fa-info-circle"></i> Overview: <i>Lawman Luke Hobbs and pariah Deckard Shaw structure an improbable coalition when a digital hereditarily upgraded scalawag undermines the eventual fate of humankind.</i>
                                            
  </div>
                                </li>
                                <li class="mt-4 text-center watch-now-container">
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <a class="btn btn-lg btn-primary" href="https://filmhd4u.com/fastfurioushobbsandshaw-full-movie"><i class="far fa-play-circle"></i> Watch Now
												<!--i class="fas fa-arrow-circle-right"></i--></a>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                     </div>
                </div>
                    <!-- Google Adsense   -->

    <!-- Google Adsense   -->
                 <div class="slider-caption-sm p-2 d-lg-none text-center">
                            <h4 class="d-none d-md-block">Fast & Furious Presents: Hobbs & Shaw</h4>
                            <h5 class="d-md-none">Fast & Furious Presents: Hobbs & Shaw</h5>
                        <div class="small-text">
                            <i class="fas fa-tv-retro"></i> <i class="fas fa-layer-group"></i> Action, Adventure, Comedy                        </div>
                        <div class="mt-1 watch-now-container">
                            <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/fastfurioushobbsandshaw-full-movie">Watch Now <i class="far fa-play-circle"></i></a>
                        </div>
                    </div>
        </div>
                      

	<div class="swiper-slide d-lg-flex align-items-center p-lg-3" style="background-image:url(https://filmhd4u.com/aset/movie_img/Midsommar_HD.jpg)">
                <div class="slider-caption-lg ml-2 p-4 d-none d-lg-flex">
                        <div class="flex-shrink-1">
                            <img class="in-slider-poster d-none d-xl-block" src="https://filmhd4u.com/aset/movie_img/Midsommar_2019.jpg" />
                        </div>
                    <div class="flex-grow-1 d-flex align-items-center ml-3">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <h1>Midsommar</h1>
                                </li>
                                <li class="small-text">
                                        <div class="row no-gutters">
                                            <div class="col-auto mr-2">
                                                   <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/midsommar-full-movie">More info</a>
                                            </div>
                                            <div class="col-6"><i class="fas fa-tv-retro"></i><i class="fas fa-calendar-week"></i> 2019<br>
                                                       <i class="fas fa-layer-group"></i> Drama, Horror, Mystery, Thriller  
                                            </div>
                                        </div>
                                </li>
                                <li class="mt-2 small-text">
                                        <div style="max-width:640px">   
                                           <i class="fas fa-info-circle"></i> Overview: <i>A couple travels to Sweden to visit a rural hometown's fabled mid-summer festival. What begins as an idyllic retreat quickly devolves into an increasingly violent and bizarre competition at the hands of a pagan cult.</i>
                                            
  </div>
                                </li>
                                <li class="mt-4 text-center watch-now-container">
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <a class="btn btn-lg btn-primary" href="https://filmhd4u.com/midsommar-full-movie"><i class="far fa-play-circle"></i> Watch Now
												<!--i class="fas fa-arrow-circle-right"></i--></a>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                     </div>
                </div>
                    <!-- Google Adsense   -->

    <!-- Google Adsense   -->
                 <div class="slider-caption-sm p-2 d-lg-none text-center">
                            <h4 class="d-none d-md-block">Midsommar</h4>
                            <h5 class="d-md-none">Midsommar</h5>
                        <div class="small-text">
                            <i class="fas fa-tv-retro"></i> <i class="fas fa-layer-group"></i> Drama, Horror, Mystery, Thriller                        </div>
                        <div class="mt-1 watch-now-container">
                            <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/midsommar-full-movie">Watch Now <i class="far fa-play-circle"></i></a>
                        </div>
                    </div>
        </div>
                      

	<div class="swiper-slide d-lg-flex align-items-center p-lg-3" style="background-image:url(https://filmhd4u.com/aset/movie_img/ToyStory4back.jpg)">
                <div class="slider-caption-lg ml-2 p-4 d-none d-lg-flex">
                        <div class="flex-shrink-1">
                            <img class="in-slider-poster d-none d-xl-block" src="https://filmhd4u.com/aset/movie_img/ToyStory4.jpg" />
                        </div>
                    <div class="flex-grow-1 d-flex align-items-center ml-3">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <h1>Toy Story 4 </h1>
                                </li>
                                <li class="small-text">
                                        <div class="row no-gutters">
                                            <div class="col-auto mr-2">
                                                   <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/Toy-Story-4">More info</a>
                                            </div>
                                            <div class="col-6"><i class="fas fa-tv-retro"></i><i class="fas fa-calendar-week"></i> 2019<br>
                                                       <i class="fas fa-layer-group"></i> Animation,Adventure,Comedy,Family,Fantasy  
                                            </div>
                                        </div>
                                </li>
                                <li class="mt-2 small-text">
                                        <div style="max-width:640px">   
                                           <i class="fas fa-info-circle"></i> Overview: <i>As Woody and Bo discuss the old days, they soon start to realize that they're two worlds apart when it comes to what they want from life as a toy.Woody has always been confident about his place in the world and that his priority is taking care of his kid, whether that's Andy or Bonnie. But when Bonnie adds a reluctant new toy called </i>
                                            
  </div>
                                </li>
                                <li class="mt-4 text-center watch-now-container">
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <a class="btn btn-lg btn-primary" href="https://filmhd4u.com/Toy-Story-4"><i class="far fa-play-circle"></i> Watch Now
												<!--i class="fas fa-arrow-circle-right"></i--></a>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                     </div>
                </div>
                    <!-- Google Adsense   -->

    <!-- Google Adsense   -->
                 <div class="slider-caption-sm p-2 d-lg-none text-center">
                            <h4 class="d-none d-md-block">Toy Story 4 </h4>
                            <h5 class="d-md-none">Toy Story 4 </h5>
                        <div class="small-text">
                            <i class="fas fa-tv-retro"></i> <i class="fas fa-layer-group"></i> Animation,Adventure,Comedy,Family,Fantasy                        </div>
                        <div class="mt-1 watch-now-container">
                            <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/Toy-Story-4">Watch Now <i class="far fa-play-circle"></i></a>
                        </div>
                    </div>
        </div>
                      

	<div class="swiper-slide d-lg-flex align-items-center p-lg-3" style="background-image:url(https://filmhd4u.com/aset/movie_img/childs1.jpg)">
                <div class="slider-caption-lg ml-2 p-4 d-none d-lg-flex">
                        <div class="flex-shrink-1">
                            <img class="in-slider-poster d-none d-xl-block" src="https://filmhd4u.com/aset/movie_img/childs.jpg" />
                        </div>
                    <div class="flex-grow-1 d-flex align-items-center ml-3">
                            <ul class="list-unstyled m-0">
                                <li>
                                    <h1>Child's Play</h1>
                                </li>
                                <li class="small-text">
                                        <div class="row no-gutters">
                                            <div class="col-auto mr-2">
                                                   <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/Childs-Play">More info</a>
                                            </div>
                                            <div class="col-6"><i class="fas fa-tv-retro"></i><i class="fas fa-calendar-week"></i> 2019<br>
                                                       <i class="fas fa-layer-group"></i> Horror  
                                            </div>
                                        </div>
                                </li>
                                <li class="mt-2 small-text">
                                        <div style="max-width:640px">   
                                           <i class="fas fa-info-circle"></i> Overview: <i>The story follows a mother named Karen, who gives her son Andy a toy doll for his birthday, unaware of its sinister nature.A mother gives her son a toy doll for his birthday, unaware of its more sinister nature.</i>
                                            
  </div>
                                </li>
                                <li class="mt-4 text-center watch-now-container">
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <a class="btn btn-lg btn-primary" href="https://filmhd4u.com/Childs-Play"><i class="far fa-play-circle"></i> Watch Now
												<!--i class="fas fa-arrow-circle-right"></i--></a>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                     </div>
                </div>
                    <!-- Google Adsense   -->

    <!-- Google Adsense   -->
                 <div class="slider-caption-sm p-2 d-lg-none text-center">
                            <h4 class="d-none d-md-block">Child's Play</h4>
                            <h5 class="d-md-none">Child's Play</h5>
                        <div class="small-text">
                            <i class="fas fa-tv-retro"></i> <i class="fas fa-layer-group"></i> Horror                        </div>
                        <div class="mt-1 watch-now-container">
                            <a class="btn btn-sm btn-secondary" href="https://filmhd4u.com/Childs-Play">Watch Now <i class="far fa-play-circle"></i></a>
                        </div>
                    </div>
        </div>
        </div>
<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
</div>
<div class="clearfix"></div>

<!-- Google -->

<!-- Google -->
<!-- add section >
<div class="d-none d-md-inline">
     <div align="center" >
<iframe src="//look.djfiln.com/cg/128110.403732.572.432.39.3/3952430866" width="728" height="90" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
    </div>
    </div-->
    
      <!-- Google adSense  (aync)-->


  <!-- //Google adSense  (aync)-->

 <!--div class="d-none d-smm-inline">
    <div align="center">
<iframe src="//look.djfiln.com/cg/128110.403732.542.432.39.3/2054919678" width="320" height="50" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
    </div>
    </div>
<!-- add section -->
<!--div class="d-none d-md-inline">
     <div align="center" >
<a href="//look.djfiln.com/offer?prod=9&ref=5170042&sub_id=Film" target="_blank"><img src="/addil/728-90.gif" class="solar_btn" alt="Watch"></a>
    </div>
    </div-->

         <!-- Ad4   >
<div class="d-none d-md-inline">
     <div align="center" >
<a href="https://filmhd4u.com/aset/ad4/web/AllAboutSex"><img src="https://filmhd4u.com/aset/ad4/720x90.jpg" style="border:none;"></a>
    </div>
    </div>
 <div class="d-none d-smm-inline">
    <div align="center ">
<a href="https://filmhd4u.com/aset/ad4/wap/SkypeChat"><img src="https://filmhd4u.com/aset/ad4/300-250.gif" style="border:none;"></a>
    </div>
    </div>
    <!-- Ad4   -->
<div class="container-fluid homepage-container">
  <h4 class="mt-5 text-center text-md-left"></h4>

        <div class="titles-container fluid-titles-grid">
{{range .animes}}
            <a href="/{{.Name}}" data-needsupdate="false">
                <div class="lazy" style="background-image: url({{.Img}});">
                </div>
                <div class="title-info px-2 py-2">
                        <i class="fas fa-star" aria-hidden="true"></i> 6.4                </div>
                  <div class="justify-content-center w3l-action-icon go-button align-items-center"><i class="far fa-play-circle"></i></div>
                <div class="title text-center p-1">{{.Name}}</div>
            </a>
{{end}}
                      </div>
  <div class="clearfix"></div>
  <!-- Ad4   >
<div class="d-none d-md-inline">
     <div align="center" >
<a href="https://filmhd4u.com/aset/ad4/web/SkypeChat"><img src="https://filmhd4u.com/aset/ad4/720french.jpg" style="border:none;"></a>
    </div>
    </div>
 <div class="d-none d-smm-inline">
    <div align="center ">
<a href="https://filmhd4u.com/aset/ad4/wap/HookYouUp"><img src="https://filmhd4u.com/aset/ad4/315300.jpg" style="border:none;"></a>
    </div>
    </div>
        <!-- Ad4   -->

 <!-- Ad4   >
<div class="d-none d-md-inline">
     <div align="center" >
<a href="https://filmhd4u.com/aset/ad4/web/VideoLP"><img src="https://filmhd4u.com/aset/ad4/72890BEfrench3.jpg" style="border:none;"></a>
    </div>
    </div>
 <div class="d-none d-smm-inline">
    <div align="center "><a href="https://filmhd4u.com/aset/ad4/wap/JumpSnap"><img src="https://filmhd4u.com/aset/ad4/160-600.gif" </a>
    <a href="https://filmhd4u.com/aset/ad4/wap/SkypeChat"><img src="https://filmhd4u.com/aset/ad4/Gold160.gif" </a>
    <a href="https://filmhd4u.com/aset/ad4/wap/SwipeBig/"><img src="https://filmhd4u.com/aset/ad4/35050.jpg" style="border:none;"></a>
    </div>
    </div>
        <!-- Ad4   -->
</div>
 <!-- //Latest-tv-series -->
 <!-- footer -->
<script> 
$(function() {
 $('.navbar .home-link').addClass('active');
 var swiper = new Swiper('.swiper-container', {
	loop: true,
	//effect: 'flip',
	autoplay: {
		delay: 5500,
		disableOnInteraction: true,
 	},
	pagination: {
		el: '.swiper-pagination',
		clickable: true,
	},
	scrollbar: {
 el: '.swiper-scrollbar',
 hide: true,
 },
 });
});
</script>
        <!-- AddToAny BEGIN -->
<script async src="https://static.addtoany.com/menu/page.js"></script>
    </div>
    <!-- AddToAny END -->

    {{template "/components/footer.html" .}}
</body>
</html>
